{% extends 'base.html.twig' %}
{% block title %}Add a new address
{% endblock %}
{% block content %}
	<h1>Add a new address</h1>
	<hr>


		<div class="col-md-6 mx-auto">
			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>


{% endblock %}
