{% extends 'base.html.twig' %}
{% block title %}Our Products - My New Boutique
{% endblock %}
{% block content %}
<div class="container mt-4">
	<h1 class="mb-4">Our Products</h1>
	<div class="row">
		<div class="col-md-3">
			<h3>Filters</h3>
			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>
		<div class="col-md-9">
			{% if products is empty %}
			<div class="alert alert-danger">There are no products matching the selected criteria.</div>
			{% endif %}
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				{% for product in products %}
				<div class="col">
					{% include 'components/product_card.html.twig' with {'product': product} %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}